@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,700;0,800;1,700&family=Open+Sans:wght@400;700;800&family=Playfair+Display&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* share style  */
.primary-btn {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.2rem;
    /* width: 180px; */
    padding: 20px 25px;
    /* height: 64px; */
    cursor: pointer;

}

* {
    font-family: Work Sans;
}

.discription-color {
    color: var(--Dark-03, #727272);
}

.section-title {
    color: #131313;
    font-weight: 700;
    font-size: 2.9rem;

}




/* header style  */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav>ul {
    display: flex;
}

nav li {

    list-style: none;
    padding-right: 30px;
    font: size 1rem;
    font-weight: 500;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: #424242;
}


/* banner tyle  */
.banner-content {
    text-align: center;
    color: var(--Dark-01, #131313);
    /* font-size: 4rem; */
    font-weight: 800px;
    margin: 0 auto;

}

.banner-title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 4rem;
    font-weight: 700;

}

.banner-discription {
    color: var(--Dark-03, #727272);

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;

}

.banner-section img {
    width: 100%;
    margin: 20px;
}


/* main style  */

main {
    max-width: 1440px;
    padding: 50px 200px;
    margin: 0 auto;
}

.feature-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;

}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 20px;


}

.feature-list {
    padding-left: 70px;
    padding-right: 70px;

}

.feature-head {
    color: #727272;

    font-size: 3rem;
    font-weight: 500;
}

.feature-head .of-Our {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.feature-head .Features {
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700;

}

.feature-list .feature-description {

    font-size: 1rem;
    font-weight: 400;
}

/* fact secrtion  */
.fact-card {
    display: flex;
    justify-content: space-around;
}

.fact-card .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.fact-card .card-stats{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;

}

.fact-card .card-title{
    font-size: 1.2rem;
    font-weight: 599px;
    margin-top: 5px;
}


/* Responsive media  */
/* MObile device  */

@media screen and (max-width:577px) {
    header {
        padding: 20px;

    }

    nav,
    .feature-section {
        flex-direction: column;

    }

    .feature-img {
        grid-template-columns: 1fr;
    }

    .feature-list {
        padding-left: 20px;
        padding-right: 20px;

    }

    /* tablet  */
    @media screen and (min-width:578px) and (max-width:922px) {

        header {
            padding: 40px;

        }

        nav {
            flex-direction: column;
        }

        .feature-section {
            flex-direction: column;
        }



    }